<%-  include("partials/header.ejs"); -%>
<h1>Search Page</h1>

<% for(let i=0;i<posts.length;i++){  %>
<% if(posts[i].tittle.toLowerCase().includes(input.toLowerCase())){ %>
    <h1> <%= posts[i].tittle %>  </h1> 
    <p><%= posts[i].content.substring(0,100) +"..."%><a href="/posts/+<%= posts[i].tittle %>">Read More</a> </p>
<% }} %>



<%-  include("partials/footer.ejs"); -%>